{{ define "main" }} {{ partial "breadcrum.html" . }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mb-4 mb-md-0">
        <h1 class="mb-4">{{ .Title }}</h1>
        <div class="content">{{.Content}}<br /></div>
        <!-- product image slider -->
      </div>
    </div>
    <div class="row">
          {{ range .Params.images }}

          <div data-image="{{ . | absURL }}">

          </div>
          
          <div class="col-md-4">
            <img
            class="dimenImages" height="250" width="550"
              src="{{ . | absURL }}"
              alt="product-image"
            />
          </div>
          {{ end }}

          <!-- {{ with .Params.sizes }}<p><strong>Sizes: </strong>{{ delimit . ", " | title}}</p>{{ end }}
        
       <button class="snipcart-add-item btn btn-main mb-5" 
          data-item-id="{{.Title | urlize}}__{{if .Params.discount_price}}{{.Params.discount_price}}{{else}}{{.Params.price}}{{end}}"
          data-item-name="{{.Title}}"
          data-item-image="{{range first 1 .Params.Images}}{{. | absURL}}{{end}}"
          data-item-price="{{if .Params.discount_price}}{{.Params.discount_price}}{{else}}{{.Params.price}}{{end}}" data-item-url="{{.Permalink}}" 
          {{ if .Params.colors }}
          data-item-custom1-name="Choose Color"
          data-item-custom1-options="{{range $index, $element:= .Params.colors}}{{ if eq $index 0 }}{{. | title}}{{ else }}|{{. | title }}{{end}}{{end}}"
          {{ end }}
          {{ if .Params.sizes }}
          data-item-custom2-name="Choose Size"
          data-item-custom2-options="{{range $index, $element:= .Params.sizes}}{{if eq $index 0}}{{. | title}}{{else}}|{{. | title}}{{end}}{{end}}"
          {{end}}>{{i18n "add_to_cart"}}
        </button>-->

          <div class="col-md-4">
            <table>
              <tr>
                <th>Part Number</th>
                <th>Finish</th>
              </tr>

              <tr>
                {{ if .Params.part1 }}
                <td>{{.Params.part1}}</td>
                {{end}} {{ if .Params.finish1 }}
                <td>{{.Params.finish1}}</td>
                {{end}}
              </tr>
              <tr>
                {{ if .Params.part2}}
                <td>{{.Params.part2}}</td>
                {{end}} {{ if .Params.finish2 }}
                <td>{{.Params.finish2}}</td>
                {{end}}
              </tr>
              <tr>
                {{ if .Params.part3}}
                <td>{{.Params.part3}}</td>
                {{end}} {{ if .Params.finish3 }}
                <td>{{.Params.finish3}}</td>
                {{end}}
              </tr>
              <tr>
                {{ if .Params.part4 }}
                <td>{{.Params.part4}}</td>
                {{end}} {{ if .Params.finish4 }}
                <td>{{.Params.finish4}}</td>
                {{end}}
              </tr>
              <tr>
                {{ if .Params.part5 }}
                <td>{{.Params.part5}}</td>
                {{end}} {{ if .Params.finish5 }}
                <td>{{.Params.finish5}}</td>
                {{end}}
              </tr>
              <tr>
                {{ if .Params.part5 }}
                <td>{{.Params.part5}}</td>
                {{end}} {{ if .Params.finish5 }}
                <td>{{.Params.finish5}}</td>
                {{end}}
              </tr>
              <tr>
                {{ if .Params.part6 }}
                <td>{{.Params.part6}}</td>
                {{end}} {{ if .Params.finish6 }}
                <td>{{.Params.finish6}}</td>
                {{end}}
              </tr>
            </table>
          </div>
        </div>
      
    
  </div>
</section>

{{ end }}
